<h3>Who's out, {{username}}?</h3>
{{#if tonightsPlan}}
	<h3>Tonight's plans</h3>
{{else}}
	<div>
		Looks like you have no plans for tonight. Make some:
		<form method="POST" action="/message/areyouout">
			Ask if <select class="user-selector" name="to">
				{{#each users}}
					<option value="{{this}}">{{this}}</option>
				{{/each}}
			</select> is out?
			<input type="submit" value="Send">
		</form>
	</div>
{{/if}}
<hr>
{{#each messages}}
	<ul>
		<li>
			{{#if sentByMe}} 
				SENT:  {{this.to}} hasn't responded to your '{{this.body}}' yet.
			{{else}}
			RECIEVED: {{this.from}} wants to know '{{this.body}}' tonight. 
			<form method="POST" action="/message/reply/{{this.id}}">
				<input type="submit" name="hasAccepted" value="No">
				<input type="submit" name="hasAccepted" value="Yes">
			</form>
			{{/if}}
		</li>
	</ul>
{{/each}}

{{#extend "scripts"}}
<script>
$(function() {
	$('.user-selector').chosen({width: "20em"});
});
</script>
{{/extend}}

